html,

body {
  padding: 0;
  margin: 0;
  color: #a4acc4;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: 1.2rem;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
