.navbar{
    width: 16%;
    height: 100vh;
    background-color: #191d2b;
    position: fixed;
.portimage{
    border-radius: 100%;
    border: 5px solid #2e344e;
    margin-bottom: 6rem;
}
.nav{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    //align-items: center;
}
.items{
    width: 100%;
    margin: 0%;
    padding-inline-start: 10px;
    .item{
        text-align: center;
        list-style: none;
        a{
            height: 100%;
            font-size: inherit;
            display: block;
            padding: .5rem 0;
            text-decoration:none;
            position: relative;
        }
    }
}
.profile{
    width: 100%;
    text-align: center;
    margin-top: 1rem;
    border-bottom: 1px solid #2e344e;
    
}
.footers{
    width: 100%;
    border-top: 1px soild #2e344e;
    .p{
        text-align: center;
        padding: 1rem 0;
    }
}
    
}
